html, body {
  margin: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

.header {
  order: 0;
  height: 5%;
  min-width: 100%;
  background: #ff8a54;
}

.footer {
  order: 4;
  height: 5%;
  min-width: 100%;
  background: #97ffa9;
}

.main {
  flex: 2;
  order: 2;
  height: 90%;
  background: #54a5ff;
  text-align: left;
}

.aside {
  flex: 1;
}

.aside-1 {
  order: 1;
  background: #ffee58;
}

.aside-2 {
  order: 3;
  background: #f778ff;
}

@media (max-width: 799px) {
  .main {
    order: 1;
    min-width: 100%;
    height: 85%;
  }

  .aside {
    min-width: 50%;
    height: 5%;
  }

  .aside-1 {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  @media (max-width: 599px) {
    .aside {
      min-width: 100%;
      height: 5%;
    }

    .main {
       height: 80%;
     }
  }
}

